<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div id="placeholder"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div>
                <div>
                    <button ng-click="front()" type="button" class="btn btn-default btn-md center-block"> Forward </button>
                </div>
                <div>
                    <button ng-click="left()" type="button" class="btn btn-default btn-md"> Left </button>
                    <button ng-click="right()" type="button" class="btn btn-default btn-md pull-right"> Right </button>
                </div>
                <div>
                    <button ng-click="back()" type="button" class="btn btn-default btn-md center-block"> Backward </button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="center-block">
                <button ng-click="takeoff()" type="button" class="btn btn-default btn-md btn-primary"> Takeoff </button>
                <button ng-click="stop()" type="button" class="btn btn-default btn-md btn-warning"> Stop </button>
                <button ng-click="land()" type="button" class="btn btn-default btn-md btn-danger"> Land </button>
                <button ng-click="ftrim()" type="button" class="btn btn-default btn-md"> Flat Trim </button>
            </div>
        </div>
        <div class="col-md-3">
            <span>Battery Life</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{battery.value}}" aria-valuemin="0" aria-valuemax="100" style="width: {{battery.value}}%;">
                    {{battery.value}}%
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <div>
                    <button ng-click="up()" type="button" class="btn btn-default btn-md center-block"> Up </button>
                </div>
                <div>
                    <button ng-click="counterClockwise()" type="button" class="btn btn-default btn-md"> Turn Left </button>
                    <button ng-click="clockwise()" type="button" class="btn btn-default btn-md pull-right"> Turn Right </button>
                </div>
                <div>
                    <button ng-click="down()" type="button" class="btn btn-default btn-md center-block"> Down </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
