<h1>Drone Control</h1>
<button ng-click="takeoff()">takeoff</button>
<button ng-click="spin()">spin</button>
<button ng-click="stop()">stop</button>
<button ng-click="land()">land</button>

<!-- <div class="container controller">
    <div class="row controller">
        <div class="col-md-3 column">
            <div class="column_item">
                <div>
                    <button class="center-block">Forward <span class="glyphicon glyphicon-arrow-up"></span></button>
                </div>
                <div>
                    <button>Left <span class="glyphicon glyphicon-arrow-left"></span></button>
                    <button class="pull-right">Right <span class="glyphicon glyphicon-arrow-right"></span></button>
                </div>
                <div>
                    <button class="center-block">Backward<span class="glyphicon glyphicon-arrow-down"></span></button>
                </div>
            </div>
        </div>
        <div class="col-md-3 column">
            <img class="column_item" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png">
        </div>
        <div class="col-md-3 column">
            <img class="column_item" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png">
        </div>
        <div class="col-md-3 column">
            <div class="column_item">
                <div>
                    <button class="center-block">Up <span class="glyphicon glyphicon-arrow-up"></span></button>
                </div>
                <div>
                    <button>Turn Left <span class="glyphicon glyphicon-arrow-left"></span></button>
                    <button class="pull-right">Turn Right <span class="glyphicon glyphicon-arrow-right"></span></button>
                </div>
                <div>
                    <button class="center-block">Down <span class="glyphicon glyphicon-arrow-down"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
 -->
