<div class="container controller">
    <div class="row controller">
        <div class="col-md-3 column">
            <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Ghostscript_Tiger.svg/512px-Ghostscript_Tiger.svg.png">
        </div>
        <div class="col-md-3 column">
            <img class="img-responsive" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png">
        </div>
        <div class="col-md-3 column">
        	<img class="img-responsive" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png">
        </div>
        <div class="col-md-3 column">
        	<img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Ghostscript_Tiger.svg/512px-Ghostscript_Tiger.svg.png">
        </div>
    </div>
</div>
