html,
body {
    height: 100%;
}

.controller {
    height: 100%;
}

/*Buttons*/

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

/*STACKED MOBILE FULL WIDTH*/
@media(max-width:767px) {
    .column {
        background-color: yellow;
        height: 25%;
    }
    .column_item {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        transform: rotate(90deg);   
    }
}

/*STACKED MOBILE*/
@media(min-width:768px) {
    .column {
        background-color: yellow;
        height: 25%;
    }
    .column_item {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}


/*HORIZONTAL*/

@media(min-width:992px) {
    .column {
        background-color: blue;
        height: 100%;
    }
    .column_item {
        width: 100%;
        height: auto;
        margin-top: 250%;
    }
}


* {
	outline: 1px solid red;
}
